[submodule "GRAnalyzer"]
	path = GRAnalyzer
	url = https://git@github.com/kumar8284/GRAnalyzer.git
[submodule "MPIEventLoop"]
	path = MPIEventLoop
	url = https://git@github.com/kumar8284/MPIEventLoop.git
